
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


.divContainer {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
}

footer{
  display: flex;
  width: 100vw;
  height: 15vh;
}

footer button{
  
  width: 50vw;
  height: 15vh;

}
.myCart a{
  color: rgb(247, 120, 120);
  font-size: 2rem;
  text-decoration: none;
}
.favoris a{
  color: red;
  font-size: 2rem;
  text-decoration: none;
}


.addDiv{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 100vw;
  background-color: rgb(148, 8, 20);
  z-index: 999;
  color: white; 
  height:15vw;

}

img{
  width:20vw;
  height:20vh;
  margin-left: 20px;
  border-radius:1rem;
}


.btnDel{
  background-color: rgb(220, 99, 99);
  border: none;
  margin-bottom: auto;
  margin-left: auto;
  color: white;
  font-size: 2.1rem;
  font-weight: 700;
  padding-right: 20px;
}
.btnDel:hover{
background-color: red;

}
.divInfoCART{
  width: 50vw;
 margin-left: 50px;
 text-align: center;
}

@media screen and (max-width:900px){
  .footer a{
      color: red;
      font-size: 0.9rem;
      text-decoration: none;
  }
  .addDiv{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 0;
      padding: 0;
      height: fit-content;
  }
 
img{
  width:90vw;
  height: 20vh;
  text-align: center;
  margin-top: 10px;
  margin-right: 20px;
}
/* span{
  font-size: 1.2rem;
}   */
.divInfoCART{
  width: 80vw;
 margin-right: 50px;
}
.btnDel{
  margin: 10px;
  margin-bottom: 0;
  width: 100vw;
}
span{
  display: none;
}

}